In [ ]:
#Groupby and( create a simple data set, create a dataframe with the following
#create a Pandas data frame that has:
lists of cars- models, year, color 
columns will be ['model', 'year', 'color']

toyota 2017 blue
toyota 2015 black
bmw 2015 white
hyundi 2017 blue
bmw 2019 blue

In [4]:
import pandas as pd

In [6]:
cars = [['toyota', 2017, 'blue'], ['toyota', 2015, 'black'],['bmw', 2015, 'white'],['hyundai', 2017,'blue'],['bmw', 2019, 'blue']]

In [7]:
data =pd.DataFrame(cars, columns = ['model','year','color'])

In [8]:
data

     model  year  color
0   toyota  2017   blue
1   toyota  2015  black
2      bmw  2015  white
3  hyundai  2017   blue
4      bmw  2019   blue

In [9]:
#groupby allows us to group data by category

In [10]:
groups = data.groupby('model') #do name of data frame and groupby

In [11]:
groups

In [13]:
#so we use aggregate functions only on group by objects
#can be sum, stdev, mean, min, max, count
groups.count()

         year  color
model
bmw         2      2
hyundai     1      1
toyota      2      2

In [14]:
groups.count()['color'] #this gives us a series of a speceific column

model
bmw        2
hyundai    1
toyota     2
Name: color, dtype: int64

In [15]:
#number of call by network type

In [47]:
phone_data = pd.read_csv('phone_data.csv')

In [52]:
phone_data.shape

(830, 7)

In [53]:
phone_data.head()

   index            date  duration  item    month   network network_type
0      0  15/10/14 06:58    34.429  data  2014-11      data         data
1      1  15/10/14 06:58    13.000  call  2014-11  Vodafone       mobile
2      2  15/10/14 14:46    23.000  call  2014-11    Meteor       mobile
3      3  15/10/14 14:48     4.000  call  2014-11     Tesco       mobile
4      4  15/10/14 17:27     4.000  call  2014-11     Tesco       mobile

In [54]:
calls = phone_data[phone_data['item'] == 'call']

In [55]:
calls.groupby('network').count()['item']

network
Meteor        54
Tesco         71
Three        128
Vodafone      66
landline      42
voicemail     27
Name: item, dtype: int64

In [40]:
#select first what you want then you group by

How many rows and columns are there?
What is the average Purchase Price?
What were the highest and lowest purchase prices?
How many people have English 'en' as their Language of choice on the website?
How many people have the job title of "Lawyer" ?
How many people made the purchase during the AM and how many people made the purchase during PM ?
What are the 5 most common Job Titles?
What is the email of the person with the following Credit Card Number: 4926535242672853
How many people have American Express as their Credit Card Provider and made a purchase above $95 ?
Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...)

In [56]:
ecommerce = pd.read_csv('ecommerce.csv')

In [58]:
ecommerce.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\r\nAlexisborough, NE ...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\r\nSouth John, TN...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\r\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\r\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\r\nNew Cynthia, TX...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [59]:
ecommerce.shape #will give rows and columns

(10000, 14)

In [91]:
ecommerce.info() #get column names and values #when see object it will be a string

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [60]:
ecommerce.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [93]:
ecommerce.describe()

        Credit Card  CC Security Code  Purchase Price
count  1.000000e+04      10000.000000    10000.000000
mean   2.341374e+15        907.217800       50.347302
std    2.256103e+15       1589.693035       29.015836
min    6.040186e+10          0.000000        0.000000
25%    3.056322e+13        280.000000       25.150000
50%    8.699942e+14        548.000000       50.505000
75%    4.492298e+15        816.000000       75.770000
max    6.012000e+15       9993.000000       99.990000

In [95]:
ecommerce['Purchase Price'].mean()

50.34730200000025

In [96]:
ecommerce.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\r\nAlexisborough, NE ...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\r\nSouth John, TN...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\r\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\r\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\r\nNew Cynthia, TX...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [98]:
#How many people have en
ecommerce[ecommerce['Language'] == 'en'].count()['Language']

1098

In [99]:
#How many people made purchase during the AM and how many at  PM

In [104]:
ecommerce['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

In [106]:
ecommerce['Job'].value_counts()

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Designer, jewellery                  27
Research officer, political party    27
                                     ..
Music therapist                       7
Actuary                               6
Editor, film/video                    6
Investment analyst                    5
Information systems manager           5
Name: Job, Length: 623, dtype: int64

In [112]:
#what is the email of the person with the following credit card number
ecommerce[ecommerce['Credit Card'] == 4926535242672853][['Email']]

                             Email
1234  bondellen@williams-garza.com

In [118]:
#How many people have American Express as their Credit Card Provider and made a purchase above $95 ?
ecommerce[(ecommerce['CC Provider'] == 'American Express') & (ecommerce['Purchase Price'] > 95)].count()['Job']

39

In [139]:
#Function to get provider from email address
def get_provider(incoming): #incoming is the parameter name 
    return incoming.split('@')[1] #1 grabs the provide because the split function makes the name [0]

In [119]:
# What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...)
def add_s(incoming):
    if len(incoming) > 0:
        return incoming + 's'
    else:
        return incoming

In [120]:
#use apply function
#apply takes a function and a value and uses that function to transform the value
#add s to my language column

In [129]:
ecommerce['Languages']= ecommerce['Language'].apply(add_s)

In [131]:
ecommerce.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,Languages
0,"16629 Pace Camp Apt. 448\r\nAlexisborough, NE ...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14,els
1,"9374 Jasmine Spurs Suite 508\r\nSouth John, TN...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73,frs
2,Unit 0065 Box 5052\r\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95,des
3,"7780 Julia Fords\r\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04,ess
4,"23012 Munoz Drive Suite 337\r\nNew Cynthia, TX...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82,ess

In [136]:
ecommerce['Provider'] = ecommerce['Email'].apply(get_provider)

In [137]:
ecommerce.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,Languages,Provider
0,"16629 Pace Camp Apt. 448\r\nAlexisborough, NE ...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14,els,yahoo.com
1,"9374 Jasmine Spurs Suite 508\r\nSouth John, TN...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73,frs,reed.com
2,Unit 0065 Box 5052\r\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95,des,morales-harrison.com
3,"7780 Julia Fords\r\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04,ess,olson-robinson.info
4,"23012 Munoz Drive Suite 337\r\nNew Cynthia, TX...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82,ess,gmail.com

In [138]:
ecommerce['Provider'].value_counts()

hotmail.com          1638
yahoo.com            1616
gmail.com            1605
smith.com              42
williams.com           37
                     ...
barton.info             1
maddox-kelley.com       1
martinez.org            1
baker.info              1
ferguson.biz            1
Name: Provider, Length: 3416, dtype: int64