In [5]:
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [6]:
homicide = pd.read_csv('Homicide.csv') #read in the file 'Homicide.csv' and store it in a variable called homicide

In [26]:
#how many rows are in the dataset
homicide.shape

(1015, 12)

In [27]:
homicide.head()

,X,Y,Event_Unique_ID,Occurrence_year,Division,Homicide_Type,Occurrence_Date,Hood_ID,Neighbourhood,Lat,Long,ObjectId
Index_,,,,,,,,,,,,
1,-79.392853,43.685028,111878,2004,D53,Other,2004-01-03T05:00:00.000Z,98,Rosedale-Moore Park (98),43.685028,-79.392853,1
2,-79.234962,43.781536,125755,2004,D42,Shooting,2004-01-08T05:00:00.000Z,137,Woburn (137),43.781536,-79.234962,2
3,-79.206894,43.810860,136086,2004,D42,Shooting,2004-01-08T05:00:00.000Z,132,Malvern (132),43.810860,-79.206894,3
4,-79.434403,43.670475,148623,2004,D13,Shooting,2004-01-25T05:00:00.000Z,93,Dovercourt-Wallace Emerson-Junction (93),43.670475,-79.434403,4
5,-79.203865,43.823543,148619,2004,D42,Shooting,2004-01-25T05:00:00.000Z,131,Rouge (131),43.823543,-79.203865,5

In [28]:
#list the names of all the columns in the dataset
homicide.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1015 entries, 1 to 1240
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   X                1015 non-null   float64
 1   Y                1015 non-null   float64
 2   Event_Unique_ID  1015 non-null   object
 3   Occurrence_year  1015 non-null   int64
 4   Division         1015 non-null   object
 5   Homicide_Type    1015 non-null   object
 6   Occurrence_Date  1015 non-null   object
 7   Hood_ID          1015 non-null   int64
 8   Neighbourhood    1015 non-null   object
 9   Lat              1015 non-null   float64
 10  Long             1015 non-null   float64
 11  ObjectId         1015 non-null   int64
dtypes: float64(4), int64(3), object(5)
memory usage: 103.1+ KB

In [29]:
#replace the default index with the values of the 'Index_' column
#want to replace the existing index with that of the colum labeled index_
homicide.set_index('Index_', inplace = True)
data.head()

KeyError: "None of ['Index_'] are in the columns"

In [32]:
#list the types of homicides in the order of their frequency
homicide['Homicide_Type'].value_counts()

Shooting    526
Other       263
Stabbing    226
Name: Homicide_Type, dtype: int64

In [ ]:
#plot the homicide types and their frequencies on a bar chart
homicide.plot.bar('Homicide_Type')()

In [64]:
#find the year with the highest number of shootings
shooting = homicide[homicide['Homicide_Type'] == 'Shooting']
shooting.groupby('Occurrence_year').count()['Homicide_Type']

NameError: name 'Stabbing' is not defined

In [ ]:
#for 2018, list the months with the highest and lowest homicides

In [75]:
#which neighborhood had the highest number of stabbings
homicide[homicide['Homicide_Type'] == 'Stabbing']['Neighbourhood'].max()

'York University Heights (27)'

In [84]:
#list the homicides by year
homicide['Occurrence_year'].value_counts()

2018    96
2007    86
2005    80
2016    75
2008    70
2006    70
2017    65
2010    65
2004    64
2009    62
2015    59
2014    58
2013    57
2012    57
2011    51
Name: Occurrence_year, dtype: int64