In [73]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import json
import requests
from pandas.io.json import json_normalize

In [119]:
import requests

url = "https://free-nba.p.rapidapi.com/stats"

querystring = {"page":"0","per_page":"100"}

headers = {
    'x-rapidapi-host': "free-nba.p.rapidapi.com",
    'x-rapidapi-key': "5c1506d255msh3a068fd74628662p1ed5aajsn04920b5323ec"
    }

response = requests.request("GET", url, headers=headers, params=querystring).json()
data = response ['data']

In [19]:
#get 500 rows in total and keep adding it to the list

In [120]:
df = pd.json_normalize(response['data'])

In [121]:
def datagrab():
    page_number = 1
    data =[]
    while page_number <= 5:
        querystring = {"page":str(page_number),"per_page":"100"}
        response = requests.request("GET", url, headers=headers, params=querystring).json()  
        data += (response["data"])
        page_number += 1
    return data

In [122]:
data = datagrab()

In [123]:
len(data)

500

In [124]:
from pandas.io.json import json_normalize
df = pd.json_normalize(data)

In [125]:
df

,id,ast,blk,dreb,fg3_pct,fg3a,fg3m,fg_pct,fga,fgm,...,player.position,player.team_id,player.weight_pounds,team.id,team.abbreviation,team.city,team.conference,team.division,team.full_name,team.name
0,1069008,0.0,1.0,2.0,0.200,5.0,1.0,0.333,9.0,3.0,...,G,3,215.0,26,SAC,Sacramento,West,Pacific,Sacramento Kings,Kings
1,1069009,4.0,0.0,5.0,0.000,2.0,0.0,0.200,5.0,1.0,...,F,26,234.0,26,SAC,Sacramento,West,Pacific,Sacramento Kings,Kings
2,1069010,4.0,1.0,5.0,0.000,0.0,0.0,0.667,6.0,4.0,...,C,7,240.0,26,SAC,Sacramento,West,Pacific,Sacramento Kings,Kings
3,1069011,1.0,0.0,1.0,0.545,11.0,6.0,0.500,18.0,9.0,...,G,26,214.0,26,SAC,Sacramento,West,Pacific,Sacramento Kings,Kings
4,1069012,8.0,1.0,5.0,0.000,2.0,0.0,0.400,10.0,4.0,...,G,26,175.0,26,SAC,Sacramento,West,Pacific,Sacramento Kings,Kings
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,1069494,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,F,2,260.0,2,BOS,Boston,East,Atlantic,Boston Celtics,Celtics
496,1069495,1.0,0.0,5.0,0.000,2.0,0.0,0.500,8.0,4.0,...,F,1,210.0,1,ATL,Atlanta,East,Southeast,Atlanta Hawks,Hawks
497,1069496,3.0,0.0,8.0,0.500,2.0,1.0,0.714,7.0,5.0,...,F-C,1,235.0,1,ATL,Atlanta,East,Southeast,Atlanta Hawks,Hawks
498,1069497,0.0,1.0,3.0,0.333,3.0,1.0,0.333,6.0,2.0,...,C,1,245.0,1,ATL,Atlanta,East,Southeast,Atlanta Hawks,Hawks
499,1069498,7.0,0.0,2.0,0.400,10.0,4.0,0.389,18.0,7.0,...,G,1,190.0,1,ATL,Atlanta,East,Southeast,Atlanta Hawks,Hawks

In [126]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 46 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       500 non-null    int64
 1   ast                      432 non-null    float64
 2   blk                      432 non-null    float64
 3   dreb                     432 non-null    float64
 4   fg3_pct                  432 non-null    float64
 5   fg3a                     432 non-null    float64
 6   fg3m                     432 non-null    float64
 7   fg_pct                   432 non-null    float64
 8   fga                      432 non-null    float64
 9   fgm                      432 non-null    float64
 10  ft_pct                   432 non-null    float64
 11  fta                      432 non-null    float64
 12  ftm                      432 non-null    float64
 13  min                      432 non-null    object
 14  oreb                     432 non-null    float64
 15  pf                       432 non-null    float64
 16  pts                      432 non-null    float64
 17  reb                      432 non-null    float64
 18  stl                      432 non-null    float64
 19  turnover                 432 non-null    float64
 20  game.id                  500 non-null    int64
 21  game.date                500 non-null    object
 22  game.home_team_id        500 non-null    int64
 23  game.home_team_score     500 non-null    int64
 24  game.period              500 non-null    int64
 25  game.postseason          500 non-null    bool
 26  game.season              500 non-null    int64
 27  game.status              500 non-null    object
 28  game.time                500 non-null    object
 29  game.visitor_team_id     500 non-null    int64
 30  game.visitor_team_score  500 non-null    int64
 31  player.id                500 non-null    int64
 32  player.first_name        500 non-null    object
 33  player.height_feet       486 non-null    float64
 34  player.height_inches     486 non-null    float64
 35  player.last_name         500 non-null    object
 36  player.position          500 non-null    object
 37  player.team_id           500 non-null    int64
 38  player.weight_pounds     486 non-null    float64
 39  team.id                  500 non-null    int64
 40  team.abbreviation        500 non-null    object
 41  team.city                500 non-null    object
 42  team.conference          500 non-null    object
 43  team.division            500 non-null    object
 44  team.full_name           500 non-null    object
 45  team.name                500 non-null    object
dtypes: bool(1), float64(21), int64(11), object(13)
memory usage: 176.4+ KB

In [133]:
#show each team total 3fg made, percentage, attempeted by team 
df.set_index('team.full_name',inplace = True)

In [151]:
#How many games does your data set actually represent?
df['game.season'].value_counts()

2018    500
Name: game.season, dtype: int64

In [178]:
#Who are the top five guards by field goal percent?

In [182]:
#Which team won most home games?


#'game.home_team_score'  
#'team.full_name'

SyntaxError: unexpected EOF while parsing (<ipython-input-182-8da87dec19b2>, line 5)

In [ ]:
#Compare your two favorite players:

In [ ]:
#show their field goal percent, three point field goal percent, blocks and steals

In [ ]:
#Use a suitable visualization to compare these stats

In [ ]:
#Who is the taller player? Does the taller play have more blocks?